body {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.container-divs{
    border: solid 1px rgb(255, 179, 0);
    display: flex;
    width: 600px;
    height: 600px;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

  .cell {
    background: blue;
    margin: 2px;
    box-sizing: border-box;
    flex: 1 1 auto;
  }
  button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }